In [2]:
import pandas as pd

df = pd.read_csv('/content/adult.data.csv')

# 1.
race_count = df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [3]:
# 2.
average_men_age = df.loc[df['sex'] == 'Male']['age'].mean().round(decimals=2)
print(average_men_age)

39.43

In [8]:
# 3.
bachelors = df['education'].loc[df['education'] == 'Bachelors'].count()
total = df['age'].count()
bachelors_percent = (bachelors/total)*100

print(bachelors_percent.round(decimals = 2))

16.45

In [11]:
# 4.
bachelors = df['education'].loc[(df['education'] == 'Bachelors') & (df['salary'] == '>50K')].count()
masters = df['education'].loc[(df['education'] == 'Masters') & (df['salary'] == '>50K')].count()
doctorate = df['education'].loc[(df['education'] == 'Doctorate') & (df['salary'] == '>50K')].count()

adv_edu = bachelors + masters + doctorate
total = df['age'].count()
adv_edu_percent = (adv_edu/total)*100

print(adv_edu_percent.round(decimals = 2))

10.71

In [13]:
# 5.
not_adv_edu = df['education'].loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters')& (df['education'] != 'Doctorate') & (df['salary'] == '>50K')].count()
total = df['age'].count()
not_adv_edu_percent = (not_adv_edu/total)*100

print(not_adv_edu_percent.round(decimals = 2))

13.37

In [17]:
# 6.
min_per_week = df['hours-per-week'].min()
print(min_per_week)

1

In [16]:
# 7.
min_hours_per_week = df['hours-per-week'].loc[(df['hours-per-week'] == min_per_week) & (df['salary'] == '>50K')].count()
total = df['age'].count()
min_per_week_percent = (min_hours_per_week/total)*100

print(min_per_week_percent.round(decimals = 2))

0.01

In [25]:
# 8.
count_sal = df['native-country'][df['salary'] == '>50K'].value_counts().max()
count_sal_total = df['native-country'][df['salary'] == '>50K'].count()
count_sal_percent = (count_sal/count_sal_total)*100

print(count_sal_percent.round(decimals = 2))

91.46

In [47]:
# 9.
df['occupation'].loc[(df['salary'] == '>50K') & (df['native-country'] == 'India')].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64